@import url('https://fonts.googleapis.com/css2?family=Exile&display=swap');
#movie-result {
  background: rgb(244, 98, 181);
  border: 5px solid black;
  font-size: 24px;
  height: 160px;
  margin-top: 10px;
  margin-bottom: 20px;
}
#movie-form{
  font: italic 20px fantasy;
}

.FOOOD{
 font: italic 20px fantasy;
}
#movie-answer{
  background: rgb(10,299,100)
}
#Cutecat{
  width: 150px;
  margain: 45px;
}
#book-answer{
  font-family: Cursive;
}

#book-result {
  background: rgb(196, 159, 255);
  border: 5px solid black;
  font-size: 24px;
  height: 160px;
  margin-top: 10px;
  margin-bottom: 20px;
}

hr {
  height: 5px;
  background-color: black;
}
html{
  font-family: "Exile", system-ui;
}
